<!-- <p id="notice"><%= notice %></p> -->

<div style="display: flex; flex-direction: column; align-items: center">

  <div style="display: flex; width: 100%; align-items: center">
    <div style="flex: 1"></div>
    <p style="font-weight: bold; font-size: 18px"><%= @user.name %></p>
    <div style="flex: 1; justify-content: flex-end; align-items: center; display: flex">
      <%= button_to "Edit", edit_user_path(@user), method: :get, class: "btn btn-primary", style: "margin-right: 10px" if current_user == @user %>
      <%= button_to "Back", users_path, method: :get, class: "btn btn-outline-secondary", style: "margin-right: 10px" %>
    </div>
  </div>
  <% if @user.profile_picture.attached? %>
    <%= image_tag @user.profile_picture, :style => "width: 100px; height: 100px; object-fit: cover; border-radius: 50px" %>
  <% else %>
    <%= image_tag "default_pic.jpg", :style => "width: 100px; height: 100px; object-fit: cover; border-radius: 50px" %>
  <% end %>
  <div><%= "@" + @user.username %></div>
  <div><%= @user.email if current_user === @user %></div>
  <div><%= @user.bio %></div>

</div>

<h4>Subscribed Channels</h4>

<div style="display: flex; flex-wrap: wrap">
  <% @user.channels.each do |channel| %>
    <div class="card" style="width: 18rem; margin-top: 15px; margin-right: 15px">
      <div class="card-body">
        <h5 class="card-title"><%= channel.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= "#{channel.users.length} subscribers" %></h6>
        <p class="card-text"><%= truncate(channel.description, :length => 80) %></p>
      </div>

      <div style="display: flex; margin-bottom: 15px; margin-left: 15px">
        <%= button_to "Show", channel, method: :get, class: "btn btn-outline-primary", style: "margin-right: 10px" %>

        <% if channel.users.include? current_user %>
          <%= button_to "Drop", "/drop_channel/#{@user.id}/#{channel.id}", method: :delete, class: "btn btn-secondary", style: "margin-right: 10px" %>
        <% else %>
          <%= button_to "Add", "/add_channel/#{@user.id}/#{channel.id}", method: :post, class: "btn btn-primary", style: "margin-right: 10px" %>
        <% end %>

        <%# button_to "Edit", edit_channel_path(channel), method: :get, class: "btn btn-outline-primary", style: "margin-right: 10px" %>
      </div>
    </div>
  <% end %>
</div>
