<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
  <div class="container">
    <%= link_to 'PennMegle', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <!-- Should only be seen if logged in-->
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Users', "/users", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Channels', "/channels", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Profile', current_user, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Log Out', '/users/sign_out', method: :delete, class: 'nav-link' %></li>
          <% else %>
            <!-- Should only be seen if NOT logged in -->
            <li class="nav-item"><%= link_to 'Sign Up', "/users/sign_up", class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Log In', '/users/sign_in', class: 'nav-link' %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>